<body class="body">
    <form action="" class="form">
        <h2>Sign in</h2>
        <input type="text" class="box" name="email" required placeholder="Email">
        <input type="password" class="box" name="password" required placeholder="Password">

        <div class="forgotpassword">
            <a  href="./forgotpassword">forgotpassword ?</a>
        </div>

        <input type="submit" value="sign in" id="submit">

        <a class="need" href="#">Don't have account? Sign up</a>
    </form>
</body>
