*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.wrapper{
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #150101;
    
    
    

}
.container{
    width: 500px;
    padding: 30px;
    border-radius: 16px;
    background-color: white;

}
.title-section{
    margin-bottom: 30px;
}
.title{
    color: #01080b;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize ;
    margin-bottom: 10px;
}
.parm{
    color: #e5e8ec;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.input-group .label-title{
    color: #000611;
    text-transform: capitalize;
    margin-bottom: 11px;
    display: block;
    font-weight: 500;
}
.input-group input{
    width: 100%;
    background-color: none;
    height: 50px;
    color: #01060c;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid black;
    padding: 9px 18px 9px 52px;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
}
.submit-btn{
    width: 100%;
    background-color: rgb(198, 77, 87);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: white ;
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;


}

.submit-btn:hover{
    opacity: 0.9;

}
.back{
    margin-top: 10px;
    font-size: large;
    
}

a{
    text-decoration: none;
}