<body>
    <form action="" class="form">
      <h2> Registration Form</h2>
     
      
      <input type="text" class="box" name="username" required placeholder="Username">
      <input type="email"  class="box" name="email" required placeholder="Email">
      <input type="text"  class="box" name="role" required placeholder="Role">
      <input type="password"  class="box"name="password" required placeholder="Password">
      <input type="password" class="box" name="password" required placeholder=" Confirm Password">
      
     
      


      <input type="submit" value="Register" id="submit"> 
    </form>
  </body>


    
   
   
